.box{
  height: 150px;
  background-color: red;
  width: 150px;
  border: 1px solid #eee;
}
.drum{
  text-align: center;
  font-size: 22px;
  color: black;
}
.box:hover{
  color: red;
  fill: red;
  background-color: red;
}
